<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Staff Vehicle Loan Form</title>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="p-4">
        <div class="container border p-4">
            <p>
                Thus, as per Employee By-laws 2075 Clause 37 Annexure 8(Ka- i),
                he/she is eligible for the requested staff vehicle loan of NPR.
                <input type="text" /> for the period of
                <input type="text" /> years. Repayment shall be made on
                diminishing balance method with equal monthly installments of
                NPR. <input type="text" /> and monthly interest.
            </p>
            <p>
                It is recommended to allow sum of NPR.
                <input type="text" /> under staff vehicle loan to the permanent
                staff of our bank Mr./Ms./Mrs. <input type="text" /> to be
                repaid within <input type="text" />. Registration of vehicle
                must be obtained in the name of the bank with lien mark of staff
                provident fund and gratuity account.
            </p>

            <p>Following documents should be obtained:</p>
            <ol>
                <li>Loan deed</li>
                <li>Promissory note</li>
                <li>Account debit authority</li>
                <li>Registration of Vehicle in the Bank’s name</li>
                <li>Comprehensive Insurance of Vehicle in the Bank’s name</li>
            </ol>

            <div class="mt-4">
                <strong class="mt-4">Certified By</strong>
                <div class="row mt-5">
                    <div class="col-6">
                        <div>
                            Signature:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Name:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Date:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            Signature:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Name:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Date:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-4">
                        <div>
                            Signature:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Name:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Date:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            Signature:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Name:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Date:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            Signature:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Name:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                        <div>
                            Date:
                            <span
                                class="border-bottom w-100 d-inline-block"
                            ></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4 border-top pt-2">
                <h6>Approved/Declined</h6>
                <p class="mb-0"><span class="border-bottom px-5"></span></p>
                <p>Chief Executive Officer</p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
